* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  height: 110vh;
  width: 99vw;
  background-color: #3a3a3a;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  right: 50px;
  padding: 5px;
  color: whitesmoke;
  position: absolute;
}

#moon {
  -webkit-animation: spin 400ms normal ease-in-out;
          animation: spin 400ms normal ease-in-out;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.style-btn {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 10px;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  -webkit-box-shadow: inset -20px 0 0 0 #ffffff;
          box-shadow: inset -20px 0 0 0 #ffffff;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
  -webkit-transition: border-color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out;
}

.style-btn::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.style-btn:checked {
  border-color: #4ED164;
  -webkit-box-shadow: inset 20px 0 0 0 #4ED164;
          box-shadow: inset 20px 0 0 0 #4ED164;
}

.style-btn:checked:after {
  left: 20px;
  -webkit-box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
          box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.title {
  width: 100%;
  color: white;
  margin: auto;
}

.country {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.country-name {
  margin: 5px;
  font-size: 50px;
  color: whitesmoke;
  padding-right: 20px;
  font-family: 'Roboto Mono';
  border-right: 2px solid #cfcfcf;
}

.flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.covid-header {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: 'Roboto Mono';
}

.virus {
  color: #1aa826;
}

.covid-subtitle {
  font-size: 20px;
  font-family: 'Roboto Mono';
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 20px auto;
}

.data {
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  background-color: #636363;
}

.data:nth-child(1) {
  border-bottom: 5px solid #3480f3;
}

.data:nth-child(2) {
  border-bottom: 5px solid #ee2b2b;
}

.data:nth-child(3) {
  border-bottom: 5px solid #1aa826;
}

.data:nth-child(4) {
  border-bottom: 5px solid #a242f0;
}

.data-title {
  color: #c0c0c0;
  margin: 5px 0 10px auto;
  font-family: 'Roboto Mono';
}

.number-data {
  color: whitesmoke;
  font-size: 20px;
  margin: 5px auto;
}

.data-date {
  color: #c0c0c0;
  margin: 5px auto;
  font-size: 15px;
}

.data-description {
  color: whitesmoke;
  font-size: 17px;
  margin-top: 5px;
}

.selection-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 20px auto;
}

.select-label {
  color: whitesmoke;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: 'Roboto Mono';
}

.countries {
  width: 100%;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  padding: 10px 0 5px 5px;
  background: transparent;
  border-bottom: 2px solid #5381c5;
}

.countries:focus {
  outline: none;
}

option {
  color: white;
  background-color: #636363;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50%;
}

.chart {
  width: 50%;
  height: 100%;
  padding: 20px;
}

.map {
  width: 50%;
  height: 100%;
  padding: 20px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid grey;
}

.flag-icon-ww {
  background-image: url("../../images/globe-dark.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-aa {
  background-image: url("../../images/boat-dark.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-kl {
  background-image: url("../../images/channel_islands.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-XK {
  background-image: url("../../images/kosovo-flag.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=index.css.map */