<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css"
    />
    <title>COVID-19 Information</title>
  </head>
  <body> 
    <div class="container">
      <div class="main-body">
        <div class="top-box">
          <div class="worldwide">
            <h4 style="font-size: 30px;">Worldwide Data</h4>
            <h4 class="worldwide-data"id="worldwide-confirmed"></h4>
            <h4 class="worldwide-data"id="worldwide-active"></h4>
            <h4 class="worldwide-data"id="worldwide-critical"></h4>
            <h4 class="worldwide-data"id="worldwide-deaths"></h4>
            <h4 class="worldwide-data"id="worldwide-recovered"></h4>
            <h4 class="worldwide-data"id="worldwide-lastUpdated"></h4>
          </div>
          <div class="countryInput">
            <h3 class="country-inp-title">Select A Country Below Or Search</h3>
            <div class="country-selection">
              <% countries.forEach(i => { %>
                <h3 onclick="getData(this.innerText)" class="country-btn"><%= i %></h3>
               <% }) %>
            </div>
            <div class="inp-box">
              <input
              id="countryToGet"
              class="inp"
              placeholder="Search For A Country"
              type="text"
              />
              <button onclick="getData(countryToGet.value)" class="btn">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="bottom-box">
          <div class="country">
            <div class="data">
              <h4 id="countryTitle" style="font-size: 30px;"></h4>
              <h4 class="country-data"></h4>
              <h4 class="country-data"></h4>
              <h4 class="country-data"></h4>
              <h4 class="country-data"></h4>
              <h4 class="country-data"></h4>
              <h4 class="country-data"></h4>
            </div>
            <div class="flag-wrapper">
              <span id="flag"></span>
            </div>
          </div>
          <div id="map"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="./scripts/index.js"></script>
  <script src="./scripts/maps.js"></script>
</html>
